body {
  background-color: aquamarine;
}
.kiosk__title .title {
  font-size: 50px;
  margin: 30px;
}
.kiosk__footer {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.kiosk__image {
  margin: 30px;
}
.kiosk__btn {
  font: 70px;
  margin: 30px;
  border: 1px solid black;
}

.kiosk__btn1,
.kiosk__btn2,
.kiosk__btn3 {
  margin: 20px;
}
